<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
    <form action="/create_user" method="POST">
        <p><label for="first_name">First Name:<input type="text" name="first_name" id="first_name"></label></p>
        <p><label for="last_name">Last Name:<input type="text" name="last_name" id="last_name"></label></p>
        <p><label for="email">Email:<input type="text" name="email" id="email"></label></p>
        <p><label for="password">Password:<input type="password" name="password" id="password"></label></p>
        <p><input type="submit" value="Submit"></p>
    </form>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
</body>
</html>