<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
    <h1>Hello there {{session['first_name']}} {{session['last_name']}} welcome to our site!</h1>
    <p>Your email is {{session['email']}} , your account birthday is {{session['birthday']}}</p>
</body>
</html>